#
# ESP32P4-specific
# Pinout based on Waveshare ESP32-P4-Module-DEV-KIT and MMECH06
#

CONFIG_MM_RESET_N=24
CONFIG_MM_WAKE=23
CONFIG_MM_BUSY=32
CONFIG_MM_SPI_SCK=0
CONFIG_MM_SPI_MOSI=3
CONFIG_MM_SPI_MISO=2
CONFIG_MM_SPI_CS=36
CONFIG_MM_SPI_IRQ=1
CONFIG_MM_BCF_FILE="bcf_mf08651_us.mbin"

# HaLow communication pins
CONFIG_IDF_TARGET="esp32p4"
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_400=y
CONFIG_MBEDTLS_NIST_KW_C=y
